{% extends 'web/base.html' %}
{% block topbar %}
  {% include 'web/_whoami.html' %}
{% endblock %}
{% block main %}
  <section class="five columns">
    <table>
      <caption>Mail endpoints</caption>
      <thead>
        <tr>
          <th class="u-full-width">Name</th>
          <th>Token</th>
          <th>Enabled</th>
        </tr>
      </thead>
      <tbody id="endpoint-list">
      </tbody>
    </table>

    <label for="new-endpoint-name">Create a new mail endpoint</label>
    <div class="nine columns">
      <input type="text" class="u-full-width" id="new-endpoint-name" placeholder="a descriptive name">
    </div>
    <div class="two columns">
      <button class="u-full-width button-primary" id="create-button">+</button>
    </div>
  </section>
  <section class="seven columns">
    <h2 class="caption">API usage</h2>
    <div class="tutorial">
      Endpoint URL:<code>https://varmail.me/<span class="endpt-token">&lt;token&gt;<span></code>
      <br>
      Request Parameters:
      <dl>
        <dt><code>subject</code></dt><dd>The email's subject line</dd>
        <dt><code>text</code></dt><dd>The plain text email body</dd>
        <dt><code>_reqid</code></dt><dd>(optional) A string of up to 12 characters used for idempotence. <br>Subsequent requests to this endpoint with the same <code>_reqid</code>
          will be ignored.</dd>
      </dl>

      <p>
        <h3>Form POST example:</h3>
        <pre><code>curl https://varmail.me/<span class="endpt-token">&lt;token&gt;</span> \
          --data-urlencode 'subject=Feedback form' \
          --data-urlencode 'text=Great app...' \
          --data-urlencode '_reqid=<span class="reqid">1234</span>'</code></pre>
      </p>

      <p>
        JSON POST example:
        <pre><code>curl https://varmail.me/<span class="endpt-token">&lt;token&gt;</span> \
  -H 'Content-type: application/json' \
  -d '{
    "subject": "Varmail is fun!",
    "text": "Some message content...",
    "_reqid": "<span class="reqid">1234</span>"
  }'</code></pre>
      </p>

      <p>
        In a pipeline:
        <pre><code>df -h | curl \
  'https://varmail.me/<span class="endpt-token">&lt;token&gt;</span>?subject=Disk+use' \
  -H 'Content-type: text/plain' --data-binary @-</code></pre>
      </p>
    </div>
  </section>

  <script type="text/javascript" src="{{ url_for('static', filename='dashboard.js') }}"></script>
  <script type="text/javascript">
    window.endpoints = {{ endpoints|tojson|safe }};
    showEndpoints();
  </script>
{% endblock %}
