{% extends "web/base.html" %}
{% block topbar %}
  {% if email %}
    {% include 'web/_whoami.html' %}
  {% else %}
      <form id="login" method="POST" action="/start">
          <div class="four offset-by-four columns">
              <input class="u-full-width" type="email" name="email" placeholder="you@example.com">
              <input type="password" name="password">{# Fake hidden password input to detect bots #}
          </div>
          <div class="two columns">
              <input class="u-full-width button" type="submit" value="Log in">
          </div>
      </form>
  {% endif %}
{% endblock %}
{% block main %}
  <div class="row">
    <div class="six offset-by-three columns">
      <h2>The simplest API for emailing yourself</h2>
    </div>
  </div>
  <div class="row">
    <div class="six offset-by-three columns">
      <p class="lead">
        <span class="brand">Varmail</span> lets your code write home without fuss.
      </p>
      <ul>
        <li>Set up in less than 30 seconds</li>
        <li>Completely free</li>
        <li>Works anywhere HTTP does (including shell scripts)</li>
      </ul>
    </div>
  </div>
  <form class="row" method="POST" action="/start">
    <div class="four offset-by-three columns">
      <input class="u-full-width" type="email" name="email" placeholder="you@example.com">
      <input type="password" name="password">{# Fake hidden password input to detect bots #}
      <small>
          To avoid passwords and spam, Varmail emails you a login link.<br>
          Your email will never be sold or shared with anyone.
      </small>
    </div>
    <div class="two columns">
      <input id="start" class="u-full-width button-primary" type="submit" value="Get started">
    </div>
  </form>
  <div class="row">
    <div class="six offset-by-three columns">
      <h3>How it works</h3>
      <ol>
          <li>Sign up and get a login link in your inbox</li>
          <li>Create an endpoint with a unique varmail.me URL</li>
          <li>Send emails to yourself using the API</li>
        <pre><code>curl https://varmail.me/<span class="endpt-token">&lt;token&gt;</span> \
  -H 'Content-type: application/json' \
  -d '{
    "subject": "Your daily fortune",
    "text": "You will spend less time configuring sendmail!",
    "_reqid": "<span class="reqid">1234</span>"
  }'</code></pre></li>
      </ol>
  </div>
  <script type="text/javascript">
    var pwds = document.querySelectorAll('input[type=password]');
    for (var i = 0; i < pwds.length; ++ i) {
      pwds[i].value = '5d7660d3-c18e-46f7-ad75-1103875e6d5c';
        console.log(pwds[i]);
    }
  </script>
{% endblock %}
