{% extends "web/base.html" %}
{% block topbar %}
  {% if email %}
      <div class="five offset-by-four columns">
        <div class="whoami">
          <a class="email" href="{{ url_for('ui.dashboard') }}">{{ email }}</a>
        </div>
      </div>
      <div class="one columns">
        <div class="whoami">
          <a class="logout" href="{{ url_for('ui.logout') }}">(exit)</a>
        </div>
      </div>
  {% else %}
      <form id="login" method="POST" action="/start">
          <div class="four offset-by-four columns">
              <input class="u-full-width" type="email" id="email" name="email" placeholder="you@example.com">
          </div>
          <div class="two columns">
              <input class="u-full-width button" id="login" type="submit" value="Log in">
          </div>
      </form>
  {% endif %}
{% endblock %}
{% block main %}
  <div class="row">
    <div class="six offset-by-three columns">
      
      <h2>POST emails<br>
      right to your inbox</h2>
    </div>
  </div>
  <div class="row">
    <div class="six offset-by-three columns">
      <p class="lead">
        <span class="brand">Varmail</span> lets your code write home without fuss.
      </p>
      <ul class="benefits">
        <li>Setup takes 30 seconds</li>
        <li>Free as in beer</li>
        <li>Works anywhere HTTP does (including shell scripts)</li>
      </ul>
    </div>
  </div>
  <form class="row" method="POST" action="/start">
    <div class="four offset-by-three columns">
      <input class="u-full-width" type="email" id="email" name="email" placeholder="you@example.com">
    </div>
    <div class="two columns">
      <input id="start" class="u-full-width button-primary" type="submit" value="Get started">
    </div>
  </form>
{% endblock %}
