.brand {
  font-family: "Lucida Console", Monaco, monospace;
  color: #666;
}

div.brand {
  font-size: 2rem;
  font-weight: bold;
}

.light {
  opacity: 0.5;
}

form#login {
  margin-top: 8px;
}

form#login input {
  margin-bottom: 0;
}

.lead {
  font-size: 2rem;
}

ul.benefits {
  font-size: 1.5rem;
}

input[type=email] {
  font-size: 1.2rem;
}

input[type=submit] {
  font-size: 1.0rem;
  line-height: 1.0rem;
}

input#login {
  min-width: 120px;
}

input#start {
  min-width: 186px;
}

div.whoami {
  font-size: 2rem;
}

a.email {
  font-weight: 200;
  text-decoration: none;
}

a.logout {
  text-align: right;
  font-weight: 100;
  text-decoration: none;
  color: #ccc;
}

a.logout:hover {
  color: #999;
}

caption, .caption {
  line-height: 1.2;
  display: block;
  text-align: center;
  font-size: 2.2rem;
  font-weight: normal;
  color: #333;
}

h3 {
  font-size: 1.8rem;
  color: #222;
}

tr {
  cursor: pointer;
}

tr.selected {
  background-color: #ddd;
}

tbody td:last_of_type {
  text-align: center;
}

small {
  margin-top: -12px;
  display: block;
  color: #666;
  text-align: right;
}

.tutorial {
  font-size: 1.4rem;
}

.endpt-token {
  background-color: #ddd;
}

.reqid {
  background-color: #ddd;
}

dl {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

dt {
  clear: left;
  color: #444;
  display: inline-block;
  margin-right: -10ex;
}

dd {
  margin-left: 0;
  display: block;
  margin-left: 12ex;
  margin-top: -2.0rem;
}
