{% extends "mail/base.html" %}
{% block content %}
  <table>
    <tr>
      <td>
        You're ready to start using varmail. Click the link below to activate and begin using your account.
      
        <!-- button -->
        <table class="btn-primary" cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td>
              <a href="{{ link }}">Get Started</a>
            </td>
          </tr>
        </table>
        <!-- /button -->
      </td>
    </tr>
  </table>
{% endblock %}
